/* Basic CSS for the navigation bar */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    background-color: #4f505a;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav h1 {
    margin: 0;
    color: #e0e0e0;
}

nav ul {
    list-style-type: none;
    /* padding: 0; */
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

nav a {
    text-decoration: none;
    color: #e0e0e0;
    font-weight: bold;
}


/* Basic CSS for the form elements */
body {
    font-family: Arial, sans-serif;
    background-image: url("background.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
}

#container {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}


#container #sideBar {
    width: 10%;
    display: flex;
    flex-direction: column;
}

#container #content {
    width: 30%;
    display: flex;
    flex-direction: column;
    padding: 20px;
}

#container h1 {
    font-size: xxx-large;
}

h1 {
    color: white;
    margin-bottom: 20px;
}

div {
    margin-bottom: 10px;
}

label {
    display: inline-block;
    width: 100px;
}

/* Basic CSS for the report section */
h2 {
    margin-top: 30px;
}

p {
    /* background-color: #000; */
    font-size: medium;
    color: #ffffff;
    /* opacity: 1; */
}

/* Some basic styling for demonstration purposes */
#contactForm {
    /* max-width: 600px; */
    width:100%;
    background: rgba(0, 0, 0, 0.5);
    color:#ffffff;
    padding: 10px;
}

#contactForm input,
#contactForm textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid #e0e0e0;
    border-radius: 10px;
}

#contactForm button {
    padding: 10px 20px;
    background-color: #3c9497;
    color: white;
    border: none;
    cursor: pointer;
    width:100%;
    border-radius: 10px;
}

#contactForm button:hover {
    background-color: #0056b3;
}